extends ../base.pug 

block content 
    div.common_form_container
        h1.page_title=pageTitle 
        if(errorMessage) 
            div.error_message=errorMessage
        div.recorder_box 
            video#preview
            button#actionBtn.recorder_btn 동영상 촬영하기
        form(method="POST" enctype="multipart/form-data").common_form
            label(for="video") 동영상 파일 업로드
            input(type="file" accept="video/*" requred, id="video" name="video")
            label(for="thumb") 썸네일 파일 업로드 
            input(type="file" accept="image/*" requred, id="thumb" name="thumb")
            input(type="text" placeholder="동영상 제목" required name="title" maxlength="20")
            input(type="text" placeholder="동영상 설명" required name="description" minlength="5")
            input(type="text" placeholder="해시태그는 컴마로 구분됩니다" required name="hashtags")
            button(type="submit") 동영상 업로드

block scripts 
    script(src="/static/js/recorder.js")