include mixins/message

doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
    body 
        if messages.error 
            +message("error", messages.error)
        if messages.info 
            +message("error", messages.info)
        if messages.success 
            +message("error", messages.submit)
        include partials/header.pug
        main.main_container
            block content
        include partials/footer.pug 
    block scripts
    script(src="/static/js/main.js")