extends base

block content 
    div.common_form_container
        h1.page_title=pageTitle
            if errorMessage 
                div.error_message=errorMessage
            form(method="POST").common_form
                input(type="text" requred name="name" placeholder="이름을 입력하세요" )
                input(type="email" requred name="email" placeholder="이메일을 입력하세요" ) 
                input(type="password" requred name="password" placeholder="비밀번호"  )
                input(type="password" requred name="password2" placeholder="비밀번호 확인"  )
                input(type="text" requred name="username" placeholder="사용자 이름"  )
                input(type="text" name="location" placeholder="지역" )
                button(type="submit") 회원가입

            div.form_info
                div.form_info_msg 이미계정이 있나요?
                a(href="/login").form_link_info 로그인하기