extends base 

block content 
    div.common_form_container
        h1.page_title=pageTitle
            if errorMessage 
                div=errorMessage
            form(method="POST").common_form
                input(type="text" requred name="username" placeholder="사용자이름을 입력하세요"  )
                input(type="password" requred name="password" placeholder="비밀번호를 입력하세요"  )
                button(type="submit") 로그인
                br
                a(href="/users/github/start").form_link_github 깃허브 계정으로 로그인하기

        
            div.form_info
                div.form_info_msg 회원이 아니신가요?
                a(href="/join").form_link_info 회원가입하기