extends base.pug 

block content 
    if(errorMessage) 
        span=errorMessage
    form(method="POST")
        input(type="text" placeholder="title" required name="title" maxlength="20")
        input(type="text" placeholder="description" required name="description" minlength="5")
        input(type="text" placeholder="hashtags, separated by comma" required name="hashtags")
        button(type="submit") upload video
