extends ../base.pug 

block content
    if errorMessage
        div.error_message=errorMessage
    form(method="POST")
        input(placeholder="old password" name="oldPassword" type="password")
        input(placeholder="new password" name="newPassword" type="password")
        input(placeholder="new password confirmation" name="newPassowrdConfirmation" type="password")
        button(type="submit") change password