extends ../base 
include ../mixins/video

block content 
    div.my_profile_box
        h1.page_title=pageTitle 
    div.video_card_wrap
        each video in user.videos 
            +video(video)
        else 
            div.video_empty_msg 
                p 업로드한 영상이 없어요! 개성있는 영상을 올려보세요